#unit-weight {
    float: left;
}
#preferred-time {
    width: 90%;
}
#package-detail {
    width: 90%;
}
@media only screen and (max-width: 480px) {
    #package-detail {
        width: 95%;
    }
    #preferred-time {
        width: 95%;
    }
}

.small-break {
    margin-top: 5px;
}
.accordion .ui-accordion-header.ui-state-hover h4,
.accordion .ui-accordion-header.ui-state-hover .ui-accordion-header-icon
{
    color: white;
}
.accordion .ui-accordion-header h4
{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway', 'Arial', sans-serif;
    color: white;
    letter-spacing: normal;
    line-height: 24px;
    margin-right: 45px;
}
